/* @import 'bootstrap/dist/css/bootstrap.min.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

.login-background {
    background-image: url('/backgroundImg/bgImg1.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dark-theme {
    background-color: #121212; /* Example dark theme background */
    color: #ffffff; /* Example dark theme text color */
}

